* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  color: antiquewhite;
}

body {
  background-color: #131313;
}

.main-app {
  padding: 18px;
  background-image: url('../../../public/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}